@using Microsoft.AspNetCore.Identity
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager

@* @{ *@
@*     ApplicationUser currentUser = null; *@
@*     if (User.Identity.IsAuthenticated) *@
@*     { *@
@*         currentUser = await UserManager.GetUserAsync(User); *@
@*     } *@
@* } *@

@if (!User.Identity.IsAuthenticated)
{﻿
    <a class="btn btn-success ms-auto" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </a>
    <span style="padding: 5px;"></span>

    <a class="btn btn-primary me-3" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"></i> Register
    </a>
}
else
{
    @*User profile section*@
    <div class="d-flex ms-auto align-items-center">
        <div class="dropdown me-2">
            <button class="btn btn-success" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
                @{
                    ApplicationUser currentUser = null;
                    if (User.Identity.IsAuthenticated)
                    {
                        currentUser = await UserManager.GetUserAsync(User);
                    }
                }
                <i class="bi bi-person-badge"></i> Hello @currentUser.FullName
            </button>
            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                <li>
                    <a class="dropdown-item" asp-controller="CertificateTopics" asp-action="Index">
                        <i class="bi bi-list"></i> My Exams
                    </a>
                </li>
            </ul>
        </div>
        <form asp-controller="Account" asp-action="Logout" class="mb-0">
            <button class="btn btn-danger">
                <i class="bi bi-box-arrow-in-right"></i> Log out
            </button>
        </form>
    </div>

}