@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = $"{@Model.FullName} Details";
}
@model ApplicationUser
<h2>User Details</h2>
<p><strong>Full Name:</strong> @Model.FullName</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Username:</strong> @Model.UserName</p>

