@model Certificates2024.Models.CandidateCertificate



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>New Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CandidateId" class="control-label"></label>
                    <select asp-for="CandidateId" class="form-control" asp-items="ViewBag.CandidateId"
                            onmousedown="return false;"
                            onkeydown="return false;">
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CertificateTopicId" class="control-label"></label>
                    <select asp-for="CertificateTopicId" class="form-control" asp-items="ViewBag.CertificateTopicId"
                            onmousedown="return false;"
                            onkeydown="return false;"></select>
                </div>
            <div class="form-group">
                <label asp-for="ExaminationDate" class="control-label"></label>
                <input asp-for="ExaminationDate" class="form-control" type="datetime-local" min="@DateTime.Now.AddHours(24).ToString("yyyy-MM-ddTHH:mm")"/>
                <span asp-validation-for="ExaminationDate" class="text-danger"></span>
            </div>

            @* <div class="form-group"> *@
            @*     <label asp-for="CandidateScore" class="control-label"></label> *@
            @*     <input asp-for="CandidateScore" class="form-control" /> *@
            @*     <span asp-validation-for="CandidateScore" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group"> *@
            @*     <label asp-for="MaximumScore" class="control-label"></label> *@
            @*     <input asp-for="MaximumScore" class="form-control" /> *@
            @*     <span asp-validation-for="MaximumScore" class="text-danger"></span> *@
            @* </div> *@
            @* <div class="form-group form-check"> *@
            @*     <label class="form-check-label"> *@
            @*         <input class="form-check-input" asp-for="ResultLabel" /> @Html.DisplayNameFor(model => model.ResultLabel) *@
            @*     </label> *@
            @* </div> *@
                <div class="mt-4 form-group">
                    <input type="submit" value="Create" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
        <a asp-controller="CertificateTopics" asp-action="Index" class="link-body-emphasis">Go to Topics</a>
        <a asp-controller="CandidateCertificates" asp-action="Index" class="link-body-emphasis">Go to Exams</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

</body>
</html>
