@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CandidateTest

<h2>Test Results</h2>
<p>Score: @Model.Score</p>
<ul>
    @foreach (var response in Model.Responses)
    {
        <li>Question ID: @response.QuestionId, Answer: @response.SelectedAnswer</li>
    }
</ul>