################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net8.0/Certificates2024.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Certificates2024.AssemblyInfo.cs
