@model Certificates2024.Models.Question

@{
    ViewBag.Title = "Create a Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create Question</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateTopicId" class="control-label"></label>
                <select asp-for="CertificateTopicId" class ="form-control" asp-items="ViewBag.CertificateTopicId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ImageSource" class="control-label"></label>
                <input asp-for="ImageSource" class="form-control" />
                <span asp-validation-for="ImageSource" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="CorrectOption" value="A" /> Option A (Correct)
                </label>
            </div>
            <div class="form-group">
                @* <label asp-for="AnswerA" class="control-label"></label> *@
                <input asp-for="AnswerA" class="form-control" />
                <span asp-validation-for="AnswerA" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="CorrectOption" value="B" /> Option B (Correct)
                </label>
            </div>
            <div class="form-group">
                @* <label asp-for="AnswerB" class="control-label"></label> *@
                <input asp-for="AnswerB" class="form-control" />
                <span asp-validation-for="AnswerB" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="CorrectOption" value="C" /> Option C (Correct)
                </label>
            </div>
            <div class="form-group">
                @* <label asp-for="AnswerC" class="control-label"></label> *@
                <input asp-for="AnswerC" class="form-control" />
                <span asp-validation-for="AnswerC" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="CorrectOption" value="D" /> Option D (Correct)
                </label>
            </div>
            <div class="form-group">
                @* <label asp-for="AnswerD" class="control-label"></label> *@
                <input asp-for="AnswerD" class="form-control" />
                <span asp-validation-for="AnswerD" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create a new Question" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="link-body-emphasis">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
